/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/css/custom.css
public/css/responsive-1200.css
public/css/responsive-320.css
public/css/responsive-425.css
public/css/responsive-768.css
public/css/responsive-992.css
public/css/library_components/bootstrap_carousel_type_1.css
public/css/library_components/bootstrap_carousel_type_2.css
public/css/library_components/bootstrap_carousel_type_3.css
public/css/library_components/slider-1.css
public/css/library_components/slider-2.css
public/css/library_components/slider-3.css
public/css/library_components/slider-4.css
public/css/library_components/video-1.css
public/js/custom.js
public/js/library_components/slider-1.js
public/js/library_components/slider-2.js
public/js/library_components/slider-3.js
public/js/library_components/slider-4.js
public/js/library_components/video-1.js
public/uploads/image/batu-contact.png
public/uploads/image/btnVideo.png
public/uploads/image/coverVideo.png
public/uploads/image/daihatsu-logo.svg
public/uploads/image/FAQ.png
public/uploads/image/kontak.png
public/uploads/image/lokasi.png
public/uploads/image/Parancak-contact.png
public/uploads/image/Pasir-contact.png
public/uploads/image/pulau-contact.png
penyu_backup.sql
