.slider-1 {
    height: 650px;
}

.slider-1 .slider-item-container {
    display: table;
    width: 80%;
    margin: 0% 10%;
}

.slider-1 .slider-item-container .slider-item {
    display: table-cell;
}

.slider-1 .slider-item-container .slider-item:nth-child(1) {
    top: 90px;
    text-align: center;
    height: 150px;
    position: relative;
    width: 320px;
}

.slider-1 .slider-item-container .slider-item:nth-child(2) {
    top: 50px;
    text-align: center;
    height: 150px;
    position: relative;
    width: 320px;
}

.slider-1 .slider-item-container .slider-item:nth-child(3) {
    top: 20px;
    text-align: center;
    height: 150px;
    position: relative;
    width: 320px;
}

.slider-1 .slider-item-container .slider-item:nth-child(4) {
    text-align: center;
    height: 150px;
    position: relative;
    width: 320px;
}

.slider-1 .slider-item-container .slider-item:nth-child(5) {
    top: 20px;
    text-align: center;
    height: 150px;
    position: relative;
    width: 320px;
}

.slider-1 .slider-item-container .slider-item:nth-child(6) {
    top: 50px;
    text-align: center;
    height: 150px;
    position: relative;
    width: 320px;
}

.slider-1 .slider-item-container .slider-item:nth-child(7) {
    top: 90px;
    text-align: center;
    height: 150px;
    position: relative;
    width: 320px;
}

.slider-1 .slider-item-container .slider-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 200px;
    margin: 0px auto;
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 15pc;
    padding: 10px;
    background-color: white !important;
    box-shadow: 0px 1px 5px lightgrey;
}

.slider-1 .slider-item-container .slider-item .slider-heading {
    position: relative;
    top: 40%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: white;
    display: none;
}

.slider-1 .slider-item-container .slider-item .slider-description {
    position: relative;
    padding-left: 35%;
    color: white;
    top: 35%;
    display: none;
}

.slider-1 .preview-img {
    width: 100%;
    height: 400px;
}

.slider-1 .preview-img img {
    width: 30%;
    object-fit: cover;
    margin-left: 35%;
    margin-right: 40%;
    margin-top: 25px;
}

.slider-1 .preview-img .caption h5 {
    visibility: visible;
    color: black;
    position: absolute;
}

.slider-1 .preview-img .caption {
    margin-top: 20px;
}

.slider-1 .preview-img .caption p {
    color: black;
    position: absolute;
    margin-top: 21px;
    width: 100%;
}

.slider-1 .slider-item-container .slider-item.active img {
    border: 1px solid #0A79A7 !important;
    box-shadow: 2px 5px 5px lightgrey !Important;
    width: 80px;
    height: 80px;
}