.video-1 {
    position: relative;
}

.video-1 embed {
    display: none;
}

.video-1 .video-cover {
    max-width: 100%;
    height: auto;
}

.video-1 .video-button {
    position: absolute;
    z-index: 666;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 0;
    width: 40px;
    cursor: pointer;
}