@media (max-width: 992px) and (min-width: 769px) {
    body {
        width: 100%;
    }
    ._navbar {
        width: 100%;
    }
    .burger-menu {
        display: none;
    }
    ._navbar ._menu-link {}
    ._navbar ._menu-link ul {}
    ._navbar ._menu-link ul li {}
    ._navbar ._menu-link a {
        margin: 15px 6px 0px;
    }
    ._navbar ._container {
        width: 95%;
    }
    ._footer ._menu-link {}
    ._footer ._menu-link ul {}
    ._footer ._menu-link ul li {}
    ._footer ._menu-link ul li a {}
    ._footer ._container {}
    ._footer ._site-logo,
    ._navbar ._site-logo {}
    ._footer ._site-contact_detail {}
    ._text-center {}
    ._text-right {}
    ._float-right {}
    ._container {
        width: 85%;
    }
    ._section ._container {}
    ._container-margin-20 ._container {}
    ._section ._container ._grid {}
    ._section ._container .grid-12 {}
    ._section ._container .grid-11 {}
    ._section ._container .grid-10 {}
    ._section ._container .grid-9 {}
    ._section ._container .grid-8 {}
    ._section ._container .grid-7 {}
    ._section ._container .grid-6 {}
    ._section ._container .grid-5 {}
    ._section ._container .grid-4 {}
    ._section ._container .grid-3 {}
    ._section ._container .grid-2 {}
    ._section ._container .grid-1 {}
    ._btn {}
    ._btn:hover {}
    ._galery-image img {}
    ._padding-10 {}
    ._berita-berita-lain img {}
    ._berita-berita-lain h6 {}
    ._lokasi-image img {}
    ._galery-video {}
    ._galery-video-full {}
    ._container-width-full ._container {}
    ._container-width-full ._container ._grid {}
    ._section ._container ._grid-1000 {
        width: 85% !important;
    }
    ._padding-less-container-grid ._container {}
    ._padding-less-container-grid ._container ._grid {}
    ._social-media-badge {}
    ._social-media-badge ._container {}
    ._font-permanent-marker {}
    ._font-ubuntu-marker {}
    ._font-ubuntu-marker-bold {}
    ._section-konservasi-overview .grid-2 {}
    ._section-konservasi-overview .grid-2:nth-child(2) {}
    ._icon-alignment i {}
    ._section-konservasi-overview .grid-2:last-child {}
    .carousel-control-next {}
    .carousel-control-prev {}
    ._beranda-section1 {
        background-repeat: no-repeat !important;
        background-size: 100%;
    }
    ._beranda-section2 {
        background-position-y: 204px;
    }
    ._beranda-section3 {
        background-size: 820px !important;
        margin-top: unset !important;
    }
    ._beranda-section4 {
        background-size: 475px;
        background-position-y: 170px !important;
    }
    ._beranda-section-7 {}
    .carousel-indicators {}
    ._icon-social-badge-instagram {}
    ._icon-social-badge-instagram:hover {}
    ._icon-social-badge-facebook {}
    ._icon-social-badge-facebook:hover {}
    ._icon-social-badge-twitter {}
    ._icon-social-badge-twitter:hover {}
    ._icon-social-badge-youtube {}
    ._icon-social-badge-youtube:hover {}
    ._berita-image-2 img {
        height: 164px !important;
    }
    ._breadcrumb {}
    ._breadcrumb a {}
    ._breadcrumb .fa {}
    ._accordion-icon .icon-accordion {
        margin-left: 510px;
    }
    ._border ._container {}
    ._shadow ._container {}
    ._accordion-icon .card {}
    ._accordion-icon .card .card-header {}
    ._accordion-icon .card .card-header .mb-0 {}
    ._accordion-icon .card .card-header .mb-0 .btn {}
    ._konservasi-kami-content {}
     :target {}
    .slider-3 .slider-item-container .slider-item img {
        width: 100px !important;
        height: 100px !important;
    }
    .slider-3 .slider-item-container .active img {
        width: 140px !Important;
        height: 140px !Important;
        top: 5% !important;
    }
    .slider-3 .slider-item-container .slider-item:first-child {
        left: 20% !Important;
    }
    .slider-3 .slider-item-container .slider-item:nth-child(2) {
        left: 30% !Important;
    }
    .slider-3 .slider-item-container .slider-item:nth-child(4) {
        right: 30% !Important;
    }
    .slider-3 .slider-item-container .slider-item:last-child {
        right: 20% !Important;
    }
    .slider-3 .slider-item-container .slider-item img:first-child,
    .slider-3 .slider-item-container .slider-item img:last-child {
        left: 0 !important;
        right: 0 !important;
    }
    .slider-3 .slider-item-container .slider-item h5 {
        margin-top: 140px !important;
    }
    .bootstrap_carousel_type_3 .carousel .carousel-indicators {
        bottom: 25% !important;
    }
    .bootstrap_carousel_type_3 .carousel .carousel-control-next {
        left: 90% !important;
    }
    .bootstrap_carousel_type_3 .carousel .carousel-control-prev {
        left: 2% !important;
    }
    ._tentang-kami-section3 {
        padding-bottom: 30px !important;
        margin-bottom: -38px;
    }
    .grid-6 ._card {
        height: 369px;
    }
    .bootstrap_carousel_type_1 .carousel .carousel-item .carousel-caption.d-none.d-md-block h5 {
        top: -164px !important;
    }
    .bootstrap_carousel_type_1 .carousel .carousel-item img {
        margin-top: 60px !important;
    }
    ._menu-navigation h6 {
        margin-top: -35%;
        padding: 0px 10px;
    }
    ._berita-berita-lain {
        width: 23% !important;
    }
    .slider-3 .slider-item-container .slider-item h4 {
        margin-top: 140px;
    }
    .__grid_id_134 {
        margin-top: 70px;
    }
    ._section.__section_id_33 {
        height: 505px;
    }
    .__section_id_74 ._container {
        padding: unset;
        padding-left: 20px;
        margin: unset;
        margin-left: 73px;
        width: 1226px;
        object-fit: cover;
    }
    .__section_id_76 ._container .grid-3 {
        margin-left: 2%;
        margin-right: 0%;
        margin-top: 31.9px;
        width: 23.5%;
        height: 241.09px;
    }
    .card-2 ._card-text-container {
        bottom: 0px;
        position: absolute;
        padding: 0px 10px;
        margin-bottom: 23px;
        margin-left: 16px;
    }
    ._berita-image-2 .card-2 ._card-text-container {
        bottom: 0px;
        position: absolute;
        padding: 0px 10px;
        margin-bottom: -28px;
        margin-left: 16px;
    }
    .slider-1 .preview-img .caption {
        margin-top: 68px;
    }
    .__section_id_28 ._container h4 {
        height: 75px;
    }
}