    @media (max-width: 425px) and (min-width: 321px) {
        body {
            width: 100%;
        }
        p {
            font-size: 14px;
        }
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 16px;
        }
        ._navbar ._container ._grid {
            display: block;
        }
        ._navbar ._container ._menu-link {
            display: none;
        }
        ._show-mobile {
            display: block !important;
        }
        img._show-mobile {
            max-width: unset;
            width: 100%;
        }
        ._show-desktop {
            display: none !important;
        }
        .burger-menu {
            position: absolute;
            right: 0;
            margin-right: 20px;
            margin-top: 20px;
        }
        ._navbar {
            width: 320px;
            padding: 2px 10px;
        }
        ._navbar ._menu-link {
            float: none;
            background-color: white;
            height: fit-content;
            width: 100% !important;
            margin-top: 54px;
            margin-left: -10px;
            position: absolute !important;
            border-top: 1px solid lightgray;
            display: block;
        }
        ._navbar ._menu-link ul {}
        ._navbar ._menu-link ul li {
            float: left;
            width: 98%;
        }
        ._navbar ._menu-link a {
            float: none;
            width: fit-content;
            padding: 0px;
            list-style: none;
            display: table;
            color: black;
            text-decoration: none;
            margin: 20px;
            width: 85%;
        }
        ._footer ._container .grid-3 p {
            width: 100%;
        }
        ._navbar ._menu-link ul li a {}
        ._footer ._menu-link {}
        ._footer ._menu-link ul {}
        ._footer ._menu-link ul li {}
        ._footer ._menu-link ul li a {}
        ._footer ._container {}
        ._footer ._site-logo,
        ._navbar ._site-logo {}
        ._footer ._site-contact_detail {}
        ._text-center {}
        ._text-right {}
        ._float-right {}
        ._container {
            width: 425px;
        }
        ._section {
            width: 425px;
        }
        ._section ._container {}
        ._container-margin-20 ._container {}
        ._section ._container ._grid {}
        ._section ._container .grid-12 {
            width: 100%;
        }
        ._section ._container .grid-11 {
            width: 100%;
        }
        ._section ._container .grid-10 {
            width: 100%;
        }
        ._section ._container .grid-9 {
            width: 100%;
        }
        ._section ._container .grid-8 {
            width: 100%;
        }
        ._section ._container .grid-7 {
            width: 100%;
        }
        ._section ._container .grid-6 {
            width: 100%;
        }
        ._section ._container .grid-5 {
            width: 100%;
        }
        ._section ._container .grid-4 {
            width: 100%;
        }
        ._section ._container .grid-3 {
            width: 100%;
        }
        ._section ._container .grid-2 {
            width: 33%;
            padding: 5px;
        }
        .section-ilustrator ._container .grid-2 {
            border: unset !important;
            padding: unset !important;
            margin-top: -20px;
        }
        ._section ._container .grid-1 {
            width: 100%;
        }
        ._grid.grid-2 h6 {
            font-size: 12px;
        }
        ._btn {}
        ._btn:hover {}
        ._galery-image img {
            width: 33.333333% !important;
            height: 115px !important;
        }
        ._padding-10 {}
        ._berita-berita-lain img {}
        ._berita-berita-lain h6 {
            height: 105px !important;
        }
        ._berita-berita-lain h6 a {
            font-size: 14px !important;
        }
        ._lokasi-image img {}
        ._galery-video {}
        ._galery-video-full {
            display: none !important
        }
        ._container-width-full ._container {}
        ._container-width-full ._container ._grid {}
        ._section ._container ._grid-1000 {
            width: 100% !important;
        }
        ._container-width-full ._container ._grid-1000 {
            padding: 20px 20px;
        }
        ._padding-less-container-grid ._container {}
        ._padding-less-container-grid ._container ._grid {}
        ._social-media-badge {
            visibility: hidden;
        }
        ._social-media-badge ._container {}
        ._font-permanent-marker {
            font-size: 24px;
        }
        ._font-ubuntu-marker {}
        ._font-ubuntu-marker-bold {}
        ._section-konservasi-overview .grid-2 {}
        ._section-konservasi-overview .grid-2:nth-child(2) {}
        ._icon-alignment i {}
        ._section-konservasi-overview .grid-2:last-child {}
        .carousel-control-next {
            margin: 0 5px !important;
        }
        .carousel-control-prev {
            margin: 0 15px !important;
        }
        ._beranda-section1 {
            background: url(/uploads/image/section1-mobile.png);
            background-position: bottom;
            background-size: 250%;
            background-position-y: 140px;
            height: unset;
            padding-bottom: 315px;
            background-repeat: no-repeat;
        }
        ._beranda-section1 ._container ._grid h2 {
            text-align: center;
        }
        ._beranda-section2 {
            background-position: bottom;
            background-position-y: 70%;
        }
        ._beranda-section3 {
            padding-bottom: 305px;
            background: url(/uploads/image/section3-mobile.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100%;
            background-position-x: -10px;
            height: unset !important;
        }
        ._beranda-section3 ._container ._grid-4-custom {
            margin-top: 20px;
        }
        ._beranda-section4 {
            background-position: bottom;
            padding-bottom: 167px;
            background-size: 295px !important;
            margin-top: 20px;
        }
        ._beranda-section-7 {
            margin-top: 255px;
        }
        .carousel-indicators {}
        ._icon-social-badge-instagram {}
        ._icon-social-badge-instagram:hover {}
        ._icon-social-badge-facebook {}
        ._icon-social-badge-facebook:hover {}
        ._icon-social-badge-twitter {}
        ._icon-social-badge-twitter:hover {}
        ._icon-social-badge-youtube {}
        ._icon-social-badge-youtube:hover {}
        ._icon-alignment {
            margin-left: -10px;
        }
        ._berita-image-2 img {
            width: 100% !important;
            height: 150px !important;
            object-fit: cover;
        }
        ._berita-image-2 ._card {
            width: 50%;
            float: left;
        }
        ._beranda-section-6 ._container ._grid .bootstrap_carousel_type_1 .carousel {
            height: 215px;
        }
        ._breadcrumb {}
        ._breadcrumb a {}
        ._breadcrumb .fa {}
        ._border ._container {
            border: none;
            box-shadow: 0px 1px 5px lightgrey;
        }
        ._shadow ._container {}
        ._accordion-icon .card {}
        ._accordion-icon .card .card-header {}
        ._accordion-icon .icon-accordion {
            margin-left: 10px !important;
            float: right;
            padding: 3px 5px !important;
        }
        ._accordion-icon .card .card-header .mb-0 {
            width: 105% !important
        }
        ._accordion-icon .card .card-header .mb-0 .btn {
            width: 100%;
            font-size: 14px;
            text-align: left;
        }
        ._konservasi-kami-content {}
        .bootstrap_carousel_type_1 .carousel .carousel-inner {
            overflow: unset !Important;
        }
        .bootstrap_carousel_type_1 .carousel .carousel-item {
            height: 173px !important;
            text-align: center;
            padding-left: unset !important;
        }
        .bootstrap_carousel_type_1 .carousel .carousel-item img {
            margin-top: unset !important;
        }
        .bootstrap_carousel_type_1 .carousel-control-next {
            right: 5% !important;
            left: unset !important;
            top: 30% !important;
        }
        .bootstrap_carousel_type_1 .carousel-control-prev {
            left: 5% !important;
            top: 30% !important;
        }
        .bootstrap_carousel_type_1 .carousel .carousel-indicators {
            visibility: visible !important;
            margin-bottom: -5px !important
        }
        .bootstrap_carousel_type_1 .carousel .carousel-indicators li {
            width: 4px;
            height: 4px;
            border: unset;
            border-radius: 5px !important;
            background-color: #888888;
        }
        .bootstrap_carousel_type_1 .carousel .carousel-indicators .active {
            width: 6px;
            height: 6px;
            margin-top: -1px;
        }
        .bootstrap_carousel_type_1 .carousel .carousel-caption {
            display: block !important
        }
        .bootstrap_carousel_type_1 .carousel .carousel-caption h5 {
            position: unset !Important;
        }
        .bootstrap_carousel_type_1 .carousel .carousel-caption {
            position: absolute;
            top: -55px;
            left: 0px;
            width: 100%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            text-align: center;
        }
        .bootstrap_carousel_type_3 .carousel .carousel-inner .carousel-item .carousel-caption p {
            padding: 10px 15px !important;
            height: 90px;
            overflow: hidden;
        }
         :target {}
        .bootstrap_carousel_type_3 .carousel .carousel-indicators {
            bottom: 25% !important;
            align-items: center;
        }
        .bootstrap_carousel_type_3 .carousel .carousel-indicators li {
            height: 4px !important;
            width: 4px !important;
        }
        .bootstrap_carousel_type_3 .carousel .carousel-indicators .active {
            height: 6px !important;
            width: 6px !important;
            background-color: #2679BF !important;
        }
        .bootstrap_carousel_type_3 .carousel .carousel-control-next {
            width: 40px !important;
            height: 40px !important;
            padding: 10px !important;
            position: absolute !important;
            left: 85% !important;
            top: 135px !important;
        }
        .bootstrap_carousel_type_3 .carousel .carousel-control-prev {
            width: 40px !important;
            height: 40px !important;
            padding: 10px !important;
            top: 135px !important;
        }
        .bootstrap_carousel_type_3 .carousel .carousel-inner {
            height: 400px !important;
        }
        .bootstrap_carousel_type_3 .carousel .carousel-inner .carousel-item img {
            height: 300px;
            object-fit: cover;
        }
        .bootstrap_carousel_type_3 .carousel .carousel-inner .carousel-item .carousel-caption {
            display: block !important;
            position: absolute !important;
            bottom: -120px !important;
            background-color: #2679BF !important;
        }
        .slider-3 .slider-item-container .slider-item img {
            width: 80px !important;
            height: 80px !important;
        }
        .slider-3 .slider-item-container .active {
            width: 110px !Important;
            height: 110px !Important;
        }
        .slider-3 .slider-item-container .active img {
            width: 110px !Important;
            height: 110px !Important;
            top: 5% !important;
        }
        .slider-3 .slider-item-container .slider-item:first-child {
            left: 5% !Important;
            width: 78px !important;
        }
        .slider-3 .slider-item-container .slider-item:nth-child(2) {
            left: 20% !Important;
            width: 78px !important;
        }
        .slider-3 .slider-item-container .slider-item:nth-child(4) {
            right: 20% !Important;
            width: 78px !important;
        }
        .slider-3 .slider-item-container .slider-item:last-child {
            right: 5% !Important;
            width: 78px !important;
        }
        .slider-3 .slider-item-container .slider-item img:first-child,
        .slider-3 .slider-item-container .slider-item img:last-child {
            left: 0 !important;
            right: 0 !important;
        }
        .slider-3 .slider-item-container .slider-item h5 {
            margin-top: 120px !important;
        }
        ._tentang-kami-section3 {
            padding-bottom: unset !important;
            background-image: unset !important;
        }
        ._konservasi-section1 {
            margin-top: -60px;
        }
        ._padding-konservasi-detail {
            padding: unset !important;
            margin-top: unset !important;
        }
        ._konservasi-section1 ._container ._grid ._image-konservasi-grid {
            position: absolute;
            top: 138;
            margin: 0 !important;
            padding: 0 !important;
            left: 0;
        }
        ._konservasi-section2 {
            margin-top: -60px;
        }
        ._konservasi-section2 ._container ._grid ._image-konservasi-grid {
            position: absolute;
            top: -571;
            margin: 0 !important;
            padding: 0 !important;
            left: 0;
        }
        ._konservasi-section3 {
            margin-top: -60px;
        }
        ._konservasi-section3 ._container ._grid ._image-konservasi-grid {
            position: absolute;
            top: 150;
            margin: 0 !important;
            padding: 0 !important;
            left: 0;
        }
        ._konservasi-section4 {
            margin-top: -60px;
        }
        ._konservasi-section4 ._container ._grid ._image-konservasi-grid {
            position: absolute;
            top: -584;
            margin: 0 !important;
            padding: 0 !important;
            left: 0;
        }
        ._konservasi-kami-description {
            margin-top: 349px;
        }
        ._konservasi-section1 ._container ._grid {
            text-align: center;
        }
        ._konservasi-section2 ._container ._grid {
            text-align: center;
        }
        ._konservasi-section3 ._container ._grid {
            text-align: center;
        }
        ._konservasi-section4 ._container ._grid {
            text-align: center;
        }
        ._konservasi-section1 ._container ._grid a {
            width: 100%
        }
        ._konservasi-section2 ._container ._grid a {
            width: 100%
        }
        ._konservasi-section3 ._container ._grid a {
            width: 100%
        }
        ._konservasi-section4 ._container ._grid a {
            width: 100%
        }
        ._image-lokasi-head {
            position: absolute;
            top: 100px;
        }
        ._lokasi-image {
            text-align: center;
        }
        ._lokasi-image ._description {
            margin-top: 400px;
            text-align: left !important;
        }
        .slider-4 .slider-item-container .slider-item {
            width: 100% !important;
            height: 100% !important;
            top: unset !important;
        }
        ._berita-berita-lain {
            width: 100% !important;
            padding: 10px !important;
            margin: 10px 0px !important
        }
        .slider-4 .slider-item-container .slider-item img {
            width: 100% !important;
            height: 420px !important;
            margin-top: 70px;
            object-fit: cover;
        }
        .slider-4 .slider-item-container .slider-item h2 {
            left: 0;
            width: 100%;
            text-align: center;
            display: block !important;
        }
        .slider-4 .slider-item-container .slider-item h5 {
            left: 0 !important;
            top: 35px !important;
            text-align: center;
            width: 100%;
            display: block !important;
        }
        .slider-4 .slider-item-container .slider-item p {
            width: 100%;
            left: 0 !important;
            font-size: 16px !important;
            top: unset !important;
            margin-top: 20px;
            display: block !important;
            position: relative !important;
        }
        .slider-1 {
            height: auto !important;
        }
        .slider-1 .preview-img {
            text-align: center;
        }
        .slider-1 .preview-img .caption h5 {
            text-align: left !important;
        }
        .slider-1 .preview-img .caption p {
            text-align: left !important;
        }
        .slider-1 .preview-img img {
            width: 65% !important;
            margin: unset !important;
        }
        .slider-1 .slider-item-container .slider-item {
            position: relative !important;
            top: 0px !important;
        }
        .slider-1 .slider-item-container .slider-item img {
            width: 47px !important;
            height: 47px !important;
            padding: 0px !important;
            position: absolute !important;
            left: 0px;
            margin: 0px 12px !important;
        }
        .slider-1 .slider-item-container .slider-item:nth-child(5) {
            position: absolute !important;
            top: 80px !important;
            left: 55 !important;
            width: unset !important;
        }
        .slider-1 .slider-item-container .slider-item:nth-child(6) {
            position: absolute !important;
            top: 80px !important;
            left: 152 !important;
            width: unset !important;
        }
        .slider-1 .slider-item-container .slider-item:nth-child(7) {
            position: absolute !important;
            top: 80px !important;
            left: 250 !important;
            width: unset !important;
        }
        .slider-1 .slider-item-container {
            margin: 0px 10px !important;
            width: 100% !important;
        }
        .slider-1 .slider-item-container .active img {
            width: 70px !important;
            height: 70px !important;
            position: absolute !important;
            top: -20px;
            left: 0px;
            margin-left: 0px !important;
            margin-top: 5px !important;
        }
        ._beranda-section4 ._container ._grid {
            padding-left: unset !important;
        }
        ._beranda-section-6 ._container ._grid:nth-child(3) embed {
            height: 70%;
        }
        .slider-3 .slider-item-container .slider-item h4 {
            margin-top: 100px;
            font-size: 17px;
        }
    }