@media (max-width: 1200px) and (min-width: 993px) {
    body {
        width: 100%;
    }
    ._navbar {}
    ._navbar ._menu-link {}
    ._navbar ._menu-link ul {}
    ._navbar ._menu-link ul li {}
    ._navbar ._menu-link ul li a {}
    ._footer ._menu-link {}
    ._footer ._menu-link ul {}
    ._footer ._menu-link ul li {}
    ._footer ._menu-link ul li a {}
    ._footer ._container {}
    ._footer ._site-logo,
    ._navbar ._site-logo {}
    ._footer ._site-contact_detail {}
    ._text-center {}
    ._text-right {}
    ._float-right {}
    ._container {}
    ._section ._container {
        width: 85%;
    }
    ._container-margin-20 ._container {}
    ._section ._container ._grid {}
    ._section ._container .grid-12 {}
    ._section ._container .grid-11 {}
    ._section ._container .grid-10 {}
    ._section ._container .grid-9 {}
    ._section ._container .grid-8 {}
    ._section ._container .grid-7 {}
    ._section ._container .grid-6 {}
    ._section ._container .grid-5 {}
    ._section ._container .grid-4 {}
    ._section ._container .grid-3 {}
    ._section ._container .grid-2 {}
    ._section ._container .grid-1 {}
    ._btn {}
    ._btn:hover {}
    ._galery-image img {}
    ._padding-10 {}
    ._berita-berita-lain img {}
    ._berita-berita-lain h6 {
        height: 70px !important;
    }
    ._lokasi-image img {}
    ._galery-video {}
    ._galery-video-full {}
    ._container-width-full ._container {}
    ._container-width-full ._container ._grid {}
    ._section ._container ._grid-1000 {
        width: 850px !important;
    }
    ._padding-less-container-grid ._container {}
    ._padding-less-container-grid ._container ._grid {}
    ._social-media-badge {}
    ._social-media-badge ._container {}
    ._font-permanent-marker {}
    ._font-ubuntu-marker {}
    ._font-ubuntu-marker-bold {}
    ._section-konservasi-overview .grid-2 {}
    ._section-konservasi-overview .grid-2:nth-child(2) {}
    ._icon-alignment i {}
    ._section-konservasi-overview .grid-2:last-child {}
    .carousel-control-next {}
    .carousel-control-prev {}
    ._beranda-section1 {}
    ._beranda-section2 {}
    ._beranda-section3 {}
    ._beranda-section4 {}
    ._beranda-section-7 {}
    .carousel-indicators {}
    ._icon-social-badge-instagram {}
    ._icon-social-badge-instagram:hover {}
    ._icon-social-badge-facebook {}
    ._icon-social-badge-facebook:hover {}
    ._icon-social-badge-twitter {}
    ._icon-social-badge-twitter:hover {}
    ._icon-social-badge-youtube {}
    ._icon-social-badge-youtube:hover {}
    ._berita-image-2 img {
        height: 166px !important;
    }
    ._breadcrumb {}
    ._breadcrumb a {}
    ._breadcrumb .fa {}
    ._accordion-icon .icon-accordion {}
    ._border ._container {}
    ._shadow ._container {}
    ._accordion-icon .card {}
    ._accordion-icon .card .card-header {}
    ._accordion-icon .card .card-header .mb-0 {}
    ._accordion-icon .card .card-header .mb-0 .btn {}
    ._konservasi-kami-content {}
    .grid-6 ._card {
        height: 373px;
    }
     :target {}
}